services:

  # BACKEND
  api:
    build: ./back
    container_name: petadopt_api
    restart: always
    ports:
      - "3002:3002"
    env_file:
      - back/.env
    volumes:
      - ./back/uploads:/app/uploads
    networks:
      - app_network

  # FRONTEND
  frontend:
    build:
      context: ./front
      args:
        - VITE_ASSETS_URL=http://localhost:3002
        - VITE_API_URL=http://localhost:3002/api/v1
    container_name: petadopt_front
    restart: always
    ports:
      - "5173:5173"
    depends_on:
      - api
    networks:
      - app_network

volumes:
  mongo_data:

networks:
  app_network:
    driver: bridge