services:

  # BACKEND
  api:
    build: ./back
    container_name: petadopt_api
    restart: always
    env_file:
      - back/.env
    volumes:
      - ./back/uploads:/app/uploads
    networks:
      - app_network

  # FRONTEND
  frontend:
    build:
      context: ./front
      args:
        # ATUALIZAÇÃO VITE: Passando as variáveis com o prefixo correto
        - VITE_ASSETS_URL=
        - VITE_API_URL=/api/v1
    container_name: petadopt_front
    restart: always
    depends_on:
      - api
    networks:
      - app_network

  # NGINX
  nginx:
    image: nginx:alpine
    container_name: petadopt_nginx
    restart: always
    volumes:
      - ./nginx/default.conf:/etc/nginx/conf.d/default.conf:ro
    depends_on:
      - frontend
      - api
    networks:
      - app_network

  # TÚNEL CLOUDFLARE
  tunnel:
    image: cloudflare/cloudflared:latest
    container_name: cloudflare_tunnel
    restart: always
    command: tunnel run
    environment:
      - TUNNEL_TOKEN=${TUNNEL_TOKEN}
    networks:
      - app_network

volumes:
  mongo_data:

networks:
  app_network:
    driver: bridge